{{template "base" .}}

{{define "content"}}
<div class="container">
   <div class="row mt-3">
       <div class="col">
           <img src="/static/images/alienware.jpeg" class="img-fluid img-thumbnail rounded mx-auto d-block laptop-image" alt="laptop image">
       </div>
   </div>
   <div class="row">
       <div class="col">
           <h1 class="text-center mt-4">Alienware M15 R2</h1>
           <p>
               Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
               Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
               Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
               Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
           </p>
       </div>
   </div>
   <div class="row">
       <div class="col text-center">
           <a id="check-availability-button" href="#!" class="btn btn-success">Check availability</a>
       </div>
   </div>
</div>
{{end}}

{{define "js"}}
   <script>
        document.getElementById("check-availability-button").addEventListener("click", function() {
            let html = `
                <form id="check-availability-form" action="" method="POST" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="rent-dates-modal">
                                <div class="col">
                                    <input disabled type="text" class="form-control" name="start_date" id="start_date" placeholder="Start" autocomplete="off">
                                </div>
                                <div class="col">
                                    <input disabled type="text" class="form-control" name="end_date" id="end_date" placeholder="End" autocomplete="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                `;
                attention.custom({
                    msg: html,
                    title: "Choose your dates",
                    willOpen: () => {
                    const tomorrow = new Date()
                    tomorrow.setDate(tomorrow.getDate() + 1)
                    const elem = document.getElementById('rent-dates-modal');
                    const rangepicker = new DateRangePicker(elem, {
                        format: 'yyyy-mm-dd',
                        showOnFocus: true,
                        minDate: tomorrow,
                    }); 
                },
                didOpen: () => {
                    document.getElementById('start_date').removeAttribute('disabled');
                    document.getElementById('end_date').removeAttribute('disabled');
                },
                preConfirm: () => {
                    let startDate = document.getElementById('start_date').value;
                    let endDate = document.getElementById('end_date').value;
                    if (!isValidDate(startDate) || !isValidDate(endDate)) {
                        error = "invalid date"
                        Swal.showValidationMessage(
                            `Error: ${error}`
                        )
                    }
                    return [startDate, endDate]
                },
                callback: function(result) {
                    let form = document.getElementById("check-availability-form");
                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}");
                    formData.append("laptop_id", "1");
                    fetch('/search-availability-modal', {
                        method: "post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.ok) {
                                attention.custom({
                                    icon: "success",
                                    msg: '<p>Room is available!</p>'
                                       + '<p><a href="/rent-laptop?id='
                                       + data.laptop_id
                                       + '&s='
                                       + data.start_date
                                       + '&e='
                                       + data.end_date
                                       + '" class="btn btn-primary">'
                                       + 'Book now!</a></p>',
                                    showConfirmButton: false,
                                })
                            } else {
                                attention.error({
                                    msg: "No availability",
                                })
                            }
                        })
                }
            });
        });
   </script>
{{end}}
